* {
  box-sizing: border-box;
}

a {
  color: #ffffff;
  font-size: 14px;
  display: block;
}

.login-title {
  text-align: center;
  color: whitesmoke;
}

#login-page {
  display: flex;
  flex-wrap: wrap;
}

.white {
  color: white;
}

.notice {
  font-size: 15px;
  text-align: center;
  color: white;
}

.login {
  width: 35%;
  height: 100vh;
  background: #fff;
  padding: 70px;
}

.login a {
  margin-top: 25px;
  text-align: center;
  color: white;
}

.form-login {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.form-login label {
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 20px;
  display: block;
  color: #666;
}

.input-password {
  width: 100%;
  background: #ededed;
  border-radius: 25px;
  margin: 4px 0 10px 0;
  padding: 10px;
  display: flex;
}

.icon {
  padding: 4px;
  color: #666;
  min-width: 30px;
  text-align: center;
}

.input-document,
.input-password {
  width: calc(100% - 20px);
  background: #ededed;
  border-radius: 25px;
  margin: 4px 0 10px 0;
  padding: 10px;
  display: flex;
  margin-left: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 4px 0;
  outline: none;
}

button[type="submit"] {
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 14px;
  background: #008552;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  transition: ease all 0.3s;
}

button[type="submit"]:hover {
  opacity: 0.9;
}

.background {
  width: 65%;
  padding: 40px;
  height: 100vh;
  background: linear-gradient(
      60deg,
      rgba(1, 14, 71, 0.596),
      rgba(1, 1, 34, 0.915)
    ),
    url("../../../assets/images/fondo.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
}

.background h1 {
  max-width: 420px;
  color: #fff;
  text-align: right;
  padding: 0;
  margin: 0;
}

.background p {
  max-width: 650px;
  color: #1a1a1a;
  font-size: 15px;
  text-align: right;
  padding: 0;
  margin: 15px 0 0 0;
}

.created {
  margin-top: 40px;
  text-align: center;
}

.created p {
  font-size: 13px;
  font-weight: bold;
  color: #008552;
}

.created a {
  color: #666;
  font-weight: normal;
  text-decoration: none;
  margin-top: 0;
}

.background-login {
  background: linear-gradient(rgb(4, 0, 20), rgb(8, 1, 41));
}

@media only screen and (max-width: 768px) {
  .login {
    width: 100%;
    padding: 20%;
  }

  .background {
    display: none;
  }
}
